.fpOuterdiv {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 625px;
  }
  
  .fpInnerdiv {
	display: flex;
	flex-direction: column;
	border: 1px solid #dadce0;
	border-radius: 11px;
	width: 400px;
	height: 415px;
	padding: 24px;
  }
  
  .fpFundooAlign {
	  font-size:2rem;
	display: flex;
	justify-content: center;
  }
  
  .fpinput {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 50px;
	height: 139px;
  }
  
  .fpEmail
  {
	height: 80px;
  }
  
  .fptextmargin {
	margin-top: 9px;
  }
  
  .fpbutton {
	display: flex;
	flex-direction: row-reverse;
	margin-top: -35px;
  }
  
  @media screen and (max-width: 600px) {
	.fpInnerdiv {
	  border: none;
	}
  }